backend/HELP.md
backend/.gradle
backend/build/
!backend/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
backend/bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
backend/.idea
backend/*.iws
backend/*.iml
backend/*.ipr
backend/out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/

### VS Code ###
backend/.vscode/
